<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">APLICACION DE ENLACES - PRACTICA</h1>
            <h3 class="mb-5">
                <em>Guarda tus sitios preferidos </em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Vamos a comenzar.
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>